// Fuentes
$fuente_principal: "Ranchers", cursive;
$fuente_secundaria: "Rancho", cursive;
$fuente_terciaria: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefonoSmall: 320px;
$telefono: 576px;
$tablet: 768px;
$desktop: 1024px;

// COLORS
$main-color: #ffc000;
$second-color: #d6dce5;
$fuxia-color: #d90062;
$text-color: #05070c;
$link-bar: rgb(86, 86, 224);
$lead-number: rgb(221, 214, 214);
$lead-number-black: #a8a4a4;
$negro: #000000;
$blanco: #ffffff;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
